<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/static/css/basecharte.css">
    <link rel="stylesheet" href="/static/css/gv2.css">
{% block head %}
{% endblock %}

</head>
<body>

<ul class="mainnav">
                <li class="hassubs"><a href="#">Nouveau</a>
                  <ul class="dropdown">
                    <li class="subs"><a href="/visuels/liec">LIEC</a>
                    </li>
                  </ul>
                </li>
                <li class="hassubs"><a href="#">Sauvegardes</a>
                  <ul class="dropdown">
                    {% if sauvegarder %}
                    <li class="subs hassubs"><a href="#">Sauvegarder <i class="fas fa-angle-right menuarrow"></i></a>
                      <ul class="dropdown">
                      {% for i in range(10) %}
                        <li class="subs"><a action="save" slot="slot{{ i+1 }}" href="#">{{'slot %d' % (i+1,)}} - {{ saves.get('slot%d' % (i+1,),'-- vide --') }}</a></li>
                      {% endfor %}
                      </ul>
                    </li>
                    {% endif %}
                    <li class="subs hassubs"><a href="#">Charger <i class="fas fa-angle-right menuarrow"></i></a>
                      <ul class="dropdown">
                      {% for i in range(10) %}
                        {% if 'slot%d' % (i+1,) in saves.keys() %}
                        <li class="subs"><a action="load" slot="slot{{ i+1 }}" href="#">{{ 'slot %d' % (i+1,) }} - {{ saves.get('slot%d' % (i+1,),'-- vide --') }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if 'autosave' in saves.keys() %}
                      <li class="subs"><a action="load" slot="autosave" href="#">autosave - {{ saves.get('autosave','-- vide --')}}</a></li>
                      {% endif %}
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="hassubs"><a href="#">Export</a>
                  <ul class="dropdown">
                  <li class="subs hassubs"><a href="#">Image (PNG) <i class="fas fa-angle-right menuarrow"></i></a>
                    <ul class="dropdown">
                        <li class="subs"><a action="export" w="2048" h="2048" href="#">2048x2048</a></li>
                        <li class="subs"><a action="export" w="1024" h="1024" href="#">1024x1024</a></li>
                        <li class="subs"><a action="export" w="512" h="512" href="#">512x512</a></li>
                        <li class="subs"><a action="export" w="256" h="256" href="#">256x256</a></li>
                    </ul>
                  </li>
                  </ul>
                </li>

                <li class="logout"><a href='/logout'><i class="fas fa-power-off"></i></a></li>
            </ul>

  <div class="app">
    <div class="menushadow"></div>
      {% block content %}
      {% endblock %}
  </div>
  {% block body %}
  {% endblock %}



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script defer src="/static/js/fontawesome-all.min.js"></script>
{% block script %}
{% endblock %}
<script>
$(document).ready(function() {
  $('.mainnav a[action]').click(function(e) {
    var slot = $(this).attr('slot');
    var action = $(this).attr('action');
    if (action=='export') {
      var w = $(this).attr('w');
      var h = $(this).attr('h');
      sendData(action,'autosave',w,h);
    } else if (action=='save') {
      sendData(action,slot,w,h);
    } else if (action=='load') {
      window.location.replace('/load/'+slot);
    }
  });
});
</script>
</body>

</html>
