{% extends "base.html" %}
{% block head %}
 <style>
 .view {
   width: {{ width }}vh;
   height: {{ height }}vh;
 }
 </style>
{% endblock %}

{% block content %}
    <div class="workarea">
      <iframe id="f" scrolling="no" class="view" src=""></iframe>
    </div>
    <div class="toolbox">
      <div class="toolbox-history">
        <label>Historique</label>
        <div>
          <button id="annuler"><i class="fas fa-undo"></i></button>
          <button id="refaire"><i class="fas fa-redo"></i></button>
          <button style="float:right;" id="options"><i class="fas fa-list-ul"></i></button>
        </div>

      </div>

      <div class="toolbox-line"></div>
      <div class="toolbox-optionitems">
        <div class="toolbox-spacer"></div>
      </div>
      <div class="toolbox-imageitems">
        <div class="toolbox-image">
          <label>Image</label>
          <div class="imagepreviewzone">
            <div class="imagepreview"></div>
          </div>

        </div>

        <div class="toolbox-spacer"></div>
        <input id="uploadimage" type="file">
        <div class="toolbox-spacer"></div>
        <div class="imagerange"><span>X </span>
          <input type="range" min="-50" max="50" value="0" action="set" attr="background-position-x" focus="image" step="0.5" unit="vw">
        </div>
        <div class="imagerange"><span>Y </span>
          <input type="range" min="-50" max="50" value="0" action="set" attr="background-position-y" focus="image" step="0.5" unit="vw">
        </div>
        <div class="imagerange"><span>Zoom </span>
          <input type="range" min="0.1" max="5" value="1" action="set" attr="transform" item="scale" focus="image" unit="" step="0.1">
        </div>
        <div class="imagerange"><span>Contraste </span>
          <input type="range" min="0" max="5" value="1" action="set" attr="filter" item="contrast" step="0.05" unit="">
        </div>
        <div class="imagerange"><span>Luminosité </span>
          <input type="range" min="0" max="5" value="1" action="set" item="brightness" attr="filter" step="0.05" unit="">
        </div>
        <div class="imagerange"><span>Gris </span>
          <input type="range" min="0" max="100" value="0" action="set" item="grayscale" attr="filter" step="1" unit="%">
        </div>
        <div class="imagerange"><span>Sepia </span>
          <input type="range" min="0" max="100" value="0" action="set" item="sepia" attr="filter" step="1" unit="%">
        </div>
        <div class="imagerange"><span>Opacité </span>
          <input type="range" min="0" max="100" value="100" action="set" item="opacity" attr="filter" step="1" unit="%">
        </div>
        <div class="imagerange"><span>Flou </span>
          <input type="range" min="0" max="10" value="0" action="set" item="blur" attr="filter" step="0.1" unit="px">
        </div>

      </div>
      <div class="toolbox-zoneitems">
      <div class="toolbox-font box">
        <label>Caractère</label>
        <div><select id="fontfamily" attr="fontfamily" action="set" focus="range"></select></div>
        <div><select id="fontweight" attr="fontweight" action="set" focus="range">
          <option value="1">Thin (100)</option>
          <option value="2">Extra-Light (200)</option>
          <option value="3">Light (300)</option>
          <option value="4">Regular (400)</option>
          <option value="5">Medium (500)</option>
          <option value="6">Semi-Bold (600)</option>
          <option value="7">Bold (700)</option>
          <option value="8">Extra-Bold (800)</option>
          <option value="9">Black (900)</option>
          </select>
        </div>
        <div class="toolbox-taille box">
          <div class="rangeselector"><span><i class="fas fa-text-height"></i> </span><input id="fontsize" type="text" action="set" attr="fontsize" focus="range" value="">
            <div>
              <button class="mini" attr="fontsize" action="increase" focus="range"><i class="fas fa-chevron-up"></i></i></button>
              <button class="mini" attr="fontsize" action="decrease" focus="range"><i class="fas fa-chevron-down"></i></i></button>
            </div>
          </div>
        </div>
        <div class="toolbox-taille box">
          <div class="rangeselector"><span><i class="fas fa-text-width"></i> </span><input id="letterspacing" type="text" action="set" attr="letterspacing" focus="range" value="">
            <div>
            <button class="mini" attr="letterspacing" action="increase" focus="range"><i class="fas fa-chevron-up"></i></i></button>
            <button class="mini" attr="letterspacing" action="decrease" focus="range"><i class="fas fa-chevron-down"></i></i></button>
          </div>
          </div>
        </div>
        <div class="fontstyle checkboxes">
           <label><input type="checkbox" name="fontstyle" attr="fontstyle" action="toggle" focus="range" value="italic"><span><i class="fas fa-italic"></i></span></label><!--
         --><label><input type="checkbox" name="textdecoration" attr="textdecoration" action="toggle" focus="range" value="underline"><span><i class="fas fa-underline"></i></span></label><!--
       --><label><input type="checkbox" name="expind" attr="expind" action="toggle" focus="range" value="exposant"><span><i class="fas fa-superscript"></i></span></label><!--
       --><label><input type="checkbox" name="expind" attr="expind" action="toggle" focus="range" value="indice"><span><i class="fas fa-subscript"></i></span></label><!--
       --><label><input type="checkbox" name="texttransform" attr="texttransform" action="toggle" focus="range" value="uppercase"><span><i class="fas fa-font"></i></span></label><!--
       -->
        </div>
      </div>

      <!--<div class="toolbox-line"></div>-->
      <div class="toolbox-spacer"></div>
      <div class="toolbox-colors box">
          <label class="small">Couleur texte</label>
          <div class="color colorgroup">
          </div>
      </div>
      <div class="toolbox-bgcolors box">
          <label class="small">Couleur fond</label>
          <div class="bgcolor colorgroup">
          </div>
      </div>

      <div class="toolbox-line"></div>
        <div><label>Paragraphe</label></div>
        <div class="toolbox-align box">
          <div class="align radiogroup">
             <label><input type="radio" name="align" attr="align" action="set" focus="line" value="left"><span><i class="fas fa-align-left"></i></span></label><!--
          --><label><input type="radio" name="align" attr="align" action="set" focus="line" value="center"><span><i class="fas fa-align-center"></i></span></label><!--
          --><label><input type="radio" name="align" attr="align" action="set" focus="line" value="right"><span><i class="fas fa-align-right"></i></span></label><!--
          --><label><input type="radio" name="align" attr="align" action="set" focus="line" value="justify"><span><i class="fas fa-align-justify"></i></span></label>
            </div>
        </div>
        <div class="toolbox-interligne box">
        <div class="rangeselector"><span><i class="fas fa-arrows-alt-v"></i><i class="fas fa-align-justify"></i> </span><input id="lineheight" type="text" action="set" attr="lineheight" focus="line" value="">
          <div>
            <button class="mini" attr="lineheight" action="increase" focus="range"><i class="fas fa-chevron-up"></i></i></button>
            <button class="mini" attr="lineheight" action="decrease" focus="range"><i class="fas fa-chevron-down"></i></i></button>
          </div>
        </div>
        </div>

        <div class="toolbox-spacer"></div>
        <div class="box toolbox-padding">
          <div><label class="small">Padding</label></div>
          <div class="rangeselector toolbox-position"><span><i class="fas fa-arrow-to-left"></i> </span><input id="paddingleft" type="text" attr="marginleft" action="set" focus="range" value="">
            <div>
              <button class="mini" attr="paddingleft" action="increase" focus="range"><i class="fas fa-chevron-up"></i></i></button>
              <button class="mini" attr="paddingleft" action="decrease" focus="range"><i class="fas fa-chevron-down"></i></i></button>
            </div>
          </div>
          <div class="rangeselector toolbox-position"><span><i class="fas fa-arrow-to-right"></i> </span><input id="paddingright" type="text" attr="paddingright" action="set" focus="range" value="">
            <div>
              <button class="mini" attr="paddingright" action="increase" focus="range"><i class="fas fa-chevron-up"></i></i></button>
              <button class="mini" attr="paddingright" action="decrease" focus="range"><i class="fas fa-chevron-down"></i></i></button>
            </div>
          </div>


          <div class="rangeselector toolbox-position"><span><i class="fas fa-arrow-to-top"></i> </span><input id="paddingtop" type="text" attr="paddingtop" action="set" focus="range" value="">
            <div>
              <button class="mini" attr="paddingtop" action="increase" focus="range"><i class="fas fa-chevron-up"></i></i></button>
              <button class="mini" attr="paddingtop" action="decrease" focus="range"><i class="fas fa-chevron-down"></i></i></button>
            </div>
          </div>
          <div class="rangeselector toolbox-position"><span><i class="fas fa-arrow-to-bottom"></i> </span><input id="paddingbottom" type="text" attr="paddingbottom" action="set" focus="range" value="">
            <div>
              <button class="mini" attr="paddingbottom" action="increase" focus="range"><i class="fas fa-chevron-up"></i></i></button>
              <button class="mini" attr="paddingbottom" action="decrease" focus="range"><i class="fas fa-chevron-down"></i></i></button>
            </div>
          </div>

        </div>
        <div class="toolbox-spacer"></div>
        <div class="box">
          <div><label class="small">Marges</label></div>
          <div class="rangeselector toolbox-position"><span><i class="fas fa-arrow-from-right"></i> </span><input id="marginleft" type="text" attr="marginleft" action="set" focus="line" value="">
            <div>
              <button class="mini" attr="marginleft" action="increase" focus="line"><i class="fas fa-chevron-up"></i></i></button>
              <button class="mini" attr="marginleft" action="decrease" focus="line"><i class="fas fa-chevron-down"></i></i></button>
            </div>
          </div>

          <div class="rangeselector toolbox-position"><span><i class="fas fa-arrow-from-left"></i> </span><input id="marginright" type="text" attr="marginright" action="set" focus="line" value="">
            <div>
              <button class="mini" attr="marginright" action="increase" focus="line"><i class="fas fa-chevron-up"></i></i></button>
              <button class="mini" attr="marginright" action="decrease" focus="line"><i class="fas fa-chevron-down"></i></i></button>
            </div>
          </div>
          <div class="rangeselector toolbox-position"><span><i class="fas fa-arrow-from-bottom"></i> </span><input id="margintop" type="text" attr="margintop" action="set" focus="line" value="">
            <div>
              <button class="mini" attr="margintop" action="increase" focus="line"><i class="fas fa-chevron-up"></i></i></button>
              <button class="mini" attr="margintop" action="decrease" focus="line"><i class="fas fa-chevron-down"></i></i></button>
            </div>
          </div>
          <div class="rangeselector toolbox-position"><span><i class="fas fa-arrow-from-top"></i> </span><input id="marginbottom" type="text" attr="marginbottom" action="set" focus="line" value="">
            <div>
              <button class="mini" attr="marginbottom" action="increase" focus="line"><i class="fas fa-chevron-up"></i></i></button>
              <button class="mini" attr="marginbottom" action="decrease" focus="line"><i class="fas fa-chevron-down"></i></i></button>
            </div>
          </div>


        </div>



    </div>
  </div>
 {% endblock %}

 {% block body %}
  <div id="overlay">
    <div id="overlay-content">
      <label id="etape">En attente</label>
      <div class="jaugebox">
        <div class="jauge"></div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
<script>
  var visuel_path = "{{ visuel_path }}";
  var visuel = "{{ visuel }}";
</script>
<script src="/static/js/gv2.js"></script>
{% endblock %}
