  {% for id,opt in options.iteritems() %}
  <div class="option">
    {% if opt['type'] == 'time' %}
      <label>{{ opt['label'] }}</label>
      <input type="time" id="{{ id }}">
      <script>
      $("#{{id}}").change(function() {
        var val=$(this).val().split(':');
        val = val[0]+'h'+val[1];
        doAction($(this).attr('id'),val);
      });
      </script>
    {% elif opt['type'] == 'date' %}
        <label>{{ opt['label'] }}</label>
        <input type="date" id="{{ id }}">
        <script>
        $("#{{id}}").change(function() {
          var val=$(this).val()
          var dopts = { weekday: 'long',  month: 'long', day: 'numeric',timeZone: 'UTC' };
          var day  = new Date(val);
          doAction($(this).attr('id'),day.toLocaleDateString("fr-FR",dopts));
        });
        </script>
    {% elif opt['type'] == 'checkbox' %}
    <label>{{ opt['label'] }}</label>
  <input type="checkbox" id="{{ id }}">
  <script>
  $("#{{id}}").change(function() {
    doAction($(this).attr('id'),$(this).prop('checked'));
  });
  </script>


  {% elif opt['type'] == 'select' %}
    <label>{{ opt['label'] }}
    <input type="hidden" id="{{ id }}">
    {% for i in range(opt['maxdepth']) %}
    <select sel="{{id}}" id="sel_{{ id }}_{{ loop.index }}" depth={{ loop.index }}>
      <option selected value="">Choisir</option>
      {% if loop.index == 1 %}
        {% for it in opt['lists'][id] %}
          <option value="{{it['id']}}">{{it['label']}}</option>
        {% endfor %}
      {% endif %}
    </select>
    {% endfor %}
    <script>
      var actions_defs = JSON.parse('{{ actions|tojson }}');
      var {{id}}_lists = JSON.parse('{{ opt["lists"]|tojson }}');
      for (var i=1;i<={{ opt['maxdepth']}};i++) {
        $("#sel_{{id}}_"+i).change(function() {
          var depth = parseInt($(this).attr('depth'));
          var key = $(this).val();
          var items = {{id}}_lists[key];
          $('select[sel="{{id}}"]').filter(function() { return $(this).attr('depth') > depth}).hide();
          if (items != undefined) {
            var $sublist = $("#sel_{{id}}_"+(depth+1));
            $sublist.empty();
            $sublist.append('<option selected value="">Choisir</option>');
            $.each(items, function(index,value) {
                $sublist.append('<option value="'+value.id+'">' + value.label + "</option>");
            });
            $('select[sel="{{id}}"]').filter(function() { return $(this).attr('depth') == (depth+1)}).show();
          } else {
            $("#{{id}}").val(key);
            doAction("{{id}}",key);
          }
        });
      }
      $('select[sel="{{id}}"]').filter(function() { return $(this).attr('depth') > 1}).hide();
    </script>
  {% endif %}
  </div>
  {% endfor %}
  
