  {% for id,opt in options.iteritems() %}
  <div class="option">
    {% if opt['type'] == 'time' %}
      <label>{{ opt['label'] }}</label>
      <input type="time" id="{{ id }}" opttype="time">
    {% elif opt['type'] == 'date' %}
        <label>{{ opt['label'] }}</label>
        <input type="date" id="{{ id }}" opttype="date">
    {% elif opt['type'] == 'checkbox' %}
      <label>{{ opt['label'] }}</label>
      <input type="checkbox" id="{{ id }}" opttype="checkbox">
    {% elif opt['type'] == 'select' %}
      <label>{{ opt['label'] }}
      <input type="hidden" id="{{ id }}" opttype="select">
      {% for i in range(opt['maxdepth']) %}
      <select sel="{{id}}" id="sel_{{ id }}_{{ loop.index }}" depth={{ loop.index }}>
      <option selected value="">Choisir</option>
      {% if loop.index == 1 %}
        {% for it in opt['lists'][id] %}
          <option path="{{it['path']}}" value="{{it['id']}}">{{it['label']}}</option>
        {% endfor %}
      {% endif %}
    </select>
    {% endfor %}
  {% endif %}
</div>
{% endfor %}
