*[fontfamily="1"] {
  font-family: "Montserrat", sans-serif;
}
*[fontfamily="2"] {
  font-family: "Roboto Slab", serif;
}
*[fontfamily="3"] {
  font-family: "Courgette", serif;
}


*[color="4"] {
  color:#f8e0ac;
}
*[color="5"] {
  color:#edbd45;
}


*[bgcolor="4"] {
  background-color:#f8e0ac;
}
*[bgcolor="5"] {
  background-color:#edbd45;
}
