body {
  margin:0;
  padding:0;
}
.menubar {

  background-color: #9c9c9c;
  width:100%;
  height:6vh;
  /*min-height:50px;*/
}
.app {
  position: relative;
  width: 100%;
  height: 94vh;
  display: flex;
  flex-flow: row wrap;
}
.menushadow {
  position:absolute;
  top:0;
  height:1vh;
  max-height:4px;
  width:100%;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0));
  z-index:9;
}

/* ------ Workarea ------ */

.workarea {
  position:relative;

  flex-grow: 1;
  height:100%;

  background-color: #3f3f3f;
  overflow:scroll;

}
.workarea::-webkit-scrollbar
{
	width: 10px;
	background-color: #9c9c9C;
}
.workarea::-webkit-scrollbar-corner {
 background-color: #9c9c9c;
}
.workarea::-webkit-scrollbar-thumb {
	background-color: #ececec;
}
/* ------- Toolbox ------ */
.toolbox {
  font-family: "Montserrat", serif;
  /*position: fixed;*/
  /*padding:0px 10px 10px 10px;*/
  padding-left:10px;
  padding-right:10px;
  width:300px;
  height:100%;
  color: #3c3c3c;
  background-color: #c5c5c5;
}
.toolbox select {
  font-family: "Roboto Slab", serif;
  width: 100%;
  background-color: white;
  font-size: 15;
  border-radius: 3px;
  margin-bottom:5px;
  padding:2px;
  /*-webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;*/
}
.toolbox div.colorbox {
  display: inline-block;
  width:20px;
  height:20px;
  margin-right:3px;
}
div.toolbox-line {
  margin-left:-10px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-top: 2px solid #7e7e7e;
  width:320px;
}
div.toolbox-spacer {
  display:block;
  width:100%;
  height:10px;
}
.toolbox label {
  display: block;
  font-weight: 800;
  margin-bottom: 10px;
}
.toolbox span {
  padding: 0px 2px 0px 0px;
}

div.toolbox-history {
  padding-top:20px;

}
.toolbox-taille {
  display: inline-block;
}
.toolbox-position {
  display: inline-block;
  vertical-align: top;
}


.box {
  margin-top:2px;
  margin-bottom:4px;
  margin-right:20px;
}
.toolbox input[type="text"] {
    width:22px;
    vertical-align: middle;
    text-align:center;
    font-size:16px;
}
.toolbox input[type="radio"] {
  width:30px;
}
.toolbox .rangeselector span {
  vertical-align: middle;
  margin-left: 4px;
}
.toolbox input {
  vertical-align: text-top;
  border:0;
  padding: 2px 2px 0px 0px;
  background-color: #dfdfdf;
  border-radius: 2px;
  /*color: white;*/
}
.toolbox button {
  padding: 4px 4px 4px 4px;
  background-color: transparent;
  color: #3c3c3c;
  border:0;
}
.toolbox button:focus {
  outline:0;
}
.toolbox button:hover, .toolbox input:hover {
  background-color: #acacac;
}
.toolbox .align {
  margin-top:8px;
  display: block;
}
.toolbox .fontstyle {
  margin-top:8px;
  display:inline-block;
}
.toolbox .rangeselector {
  font-weight:600;
  font-size:16px;
  margin-top:4px;
  /*width:70px;*/
  background-color: white;
  padding: 2px;
  border-radius: 3px;
}
.toolbox label {
  display:inline-block;
  font-size:15px;
}
.toolbox label input {
  display:none;
}
.toolbox label input[type=radio]:checked + span {
  background-color: #acacac;
}
.toolbox label input[type=checkbox]:checked + span {
  background-color: #acacac;
}
.toolbox label input[type=checkbox] + span {
  padding:6px 6px 6px 6px;
  background-color:white;
  border-radius: 3px;
  margin-right:2px;
}

.toolbox .radiogroup span {
  padding:6px 6px 6px 6px;
  margin-right:2px;
  background-color:white;
}
.toolbox .radiogroup label, .toolbox .checkboxes label {
  font-size: 14px;
}
.toolbox .radiogroup span svg, .toolbox .checkboxes span svg {
  width:16px;
}
.toolbox .radiogroup label:first-child input[type=radio] + span {
  border-radius: 4px 0px 0px 4px;
}
.toolbox .radiogroup label:last-child input[type=radio] + span {
  border-radius: 0px 4px 4px 0px;
}
.toolbox .colorgroup label {
  margin-bottom:0px;
}
.toolbox-colors label.small, .toolbox-bgcolors label.small, .box .small {
  font-size: 12px;
    margin-bottom: 4px;
    font-weight: 600;
}
.toolbox .colorgroup div {
  width:30px;
  height:30px;
  border-radius: 3px;
  border: 2px solid #c5c5c5;
}
.toolbox label input[type=radio]:checked + div {
  border: 2px solid #3c3c3c;
}
.toolbox div[bgcolor="0"] {
  border: 1px solid #a0a0a0;
}
.toolbox .toolbox-colors, .toolbox .toolbox-bgcolors, .toolbox-align, .toolbox-interligne {
  /*width: 120px;*/
  display: inline-block;
  vertical-align: top;
}

.toolbox .toolbox-bgcolors div[bgcolor="0"] {
  background-image:url(croix.svg);
}
.toolbox .rangeselector button.mini {
  font-size: 10px;
  width:12px;
  display: block;
  padding: 0px;
  vertical-align: text-bottom;
}
.toolbox .rangeselector div {
  display:none;
  display:inline-block;
  vertical-align: middle;
  height: 20px;
}
.toolbox .rangeselector:hover  div {
  display:inline-block;
}


.toolbox-zoneitems, .toolbox-imageitems {
  display:none;
}
.toolbox-zoneitems.active, .toolbox-imageitems.active {
  display:block;
}
.toolbox .toolbox-image div.imagepreview{
  width:100%;
  height:100%;
  background-size:cover;
  /*transform-origin: 10px 10px;*/
  /*background-repeat: no-repeat;*/
}
.toolbox .toolbox-image div.imagepreviewzone{
  width:100%;
  height:150px;
  border: 1px solid #7e7e7e;
  overflow: hidden;


  /*background-repeat: no-repeat;*/
}
.toolbox .toolbox-imageitems span {
  width: 20px;
  vertical-align:middle;
}
.toolbox .toolbox-imageitems input[type="range"] {
  width: 265px;
}

.view {
  position:absolute;
  top:0;
  left:0;
  width: 100vh;
  height:100vh;
  /*clip: rect(0px,70vw,80vh,0px);*/
  /*height: 70vw;*/
  /*overflow:hidden;
  width:100%;
  height:100%;*/
   border:0;

}


.view {
  transform: scale(0.9);
  transform-origin: 0 0;
}
