body {
  margin:0;
  padding:0;
}
.menubar {

  background-color: #9c9c9c;
  width:100%;
  height:6vh;
  /*min-height:50px;*/
}
.app {
  position: relative;
  width: 100%;
  height: 94vh;
  display: flex;
  flex-flow: row wrap;
}
.menushadow {
  position:absolute;
  top:0;
  height:1vh;
  max-height:4px;
  width:100%;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0));
  z-index:9;
}

/* ------ Workarea ------ */

.workarea {
  position:relative;

  flex-grow: 1;
  height:100%;

  background-color: #3f3f3f;
  overflow:scroll;

}
.workarea::-webkit-scrollbar
{
	width: 10px;
	background-color: #9c9c9C;
}
.workarea::-webkit-scrollbar-corner {
 background-color: #9c9c9c;
}
.workarea::-webkit-scrollbar-thumb {
	background-color: #bcbcbc;
}
/* ------- Toolbox ------ */
.toolbox {
  font-family: "Roboto Slab", serif;
  /*position: fixed;*/
  /*padding:0px 10px 10px 10px;*/
  padding-left:10px;
  padding-right:10px;
  width:300px;
  height:100%;
  color: #3c3c3c;
  background-color: #9c9c9c;
}
div.toolbox-line {
  margin-left:-10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 2px solid #7e7e7e;
  width:320px;
}
.toolbox label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}
.toolbox span {
  padding: 0px 2px 0px 0px;
}

div.toolbox-history {
  padding-top:20px;

}
.toolbox-taille {
  display: inline-block;
}
.toolbox-position {
  display: inline-block;
  vertical-align: top;
}

.toolbox-position div {
  width:120px;
}
.box {
  margin-top:4px;
  margin-bottom:4px;
  margin-right:20px;
}

.toolbox input {
  width:20px;
  border:0;
  padding: 2px 2px 0px 0px;
  background-color: transparent;
  color: white;
  font-size: 16px;
}
.toolbox button {
  padding: 4px 4px 4px 4px;
  background-color: transparent;
  color: #3c3c3c;
  border:0;
}
.toolbox button:focus {
  outline:0;
}
.toolbox button:hover, .toolbox input:hover {
  background-color: #acacac;
}
.navbar {
  background-color:blue;
  width:100%;
  height:50px;
}

.view {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  /*clip: rect(0px,70vw,80vh,0px);*/
  /*height: 70vw;*/
  /*overflow:hidden;
  width:100%;
  height:100%;*/
   border:0;

}


.view {
  transform: scale(0.9);
  transform-origin: 0 0;
}
