@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900|Courgette:100,200,300,400,500,600,700,800,900|Montserrat:100,200,300,400,500,600,700,800,900|Roboto+Slab:100,200,300,400,500,600,700,800,900");

*[fontfamily="1"] {
  font-family: "Montserrat", sans-serif;
}
*[fontfamily="2"] {
  font-family: "Roboto Slab", serif;
}
*[fontfamily="3"] {
  font-family: "Courgette", serif;
}
*[fontfamily="4"] {
  font-family: "Roboto", serif;
}


*[color="4"] {
  color:#f7cfad;
}
*[color="5"] {
  color:#ed8e3b;
}


*[bgcolor="4"] {
  background-color:#f7cfad;
}
*[bgcolor="5"] {
  background-color:#ed8e3b;
}
