*[fontfamily="1"] {
  font-family: "Montserrat", sans-serif;
}
*[fontfamily="2"] {
  font-family: "Roboto Slab", serif;
}
*[fontfamily="3"] {
  font-family: "Courgette", serif;
}


*[color="4"] {
  color:#f7cfad;
}
*[color="5"] {
  color:#ed8e3b;
}


*[bgcolor="4"] {
  background-color:#f7cfad;
}
*[bgcolor="5"] {
  background-color:#ed8e3b;
}
