*[fontfamily="1"] {
  font-family: "Montserrat", sans-serif;
}
*[fontfamily="2"] {
  font-family: "Roboto Slab", serif;
}
*[fontfamily="3"] {
  font-family: "Courgette", serif;
}


*[color="4"] {
  color:#eda9a3;
}
*[color="5"] {
  color:#d9483b;
}


*[bgcolor="4"] {
  background-color:#eda9a3;
}
*[bgcolor="5"] {
  background-color:#d9483b;
}
