*[fontfamily="1"] {
  font-family: "Montserrat", sans-serif;
}
*[fontfamily="2"] {
  font-family: "Roboto Slab", serif;
}
*[fontfamily="3"] {
  font-family: "Courgette", serif;
}


*[color="4"] {
  color:#d1b9d7;
}
*[color="5"] {
  color:#9e6dab;
}


*[bgcolor="4"] {
  background-color:#d1b9d7;
}
*[bgcolor="5"] {
  background-color:#9e6dab;
}
