@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900|Courgette:100,200,300,400,500,600,700,800,900|Montserrat:100,200,300,400,500,600,700,800,900|Roboto+Slab:100,200,300,400,500,600,700,800,900");

*[fontfamily="1"] {
  font-family: "Montserrat", sans-serif;
}
*[fontfamily="2"] {
  font-family: "Roboto", serif;
}
*[fontfamily="3"] {
  font-family: "Courgette", serif;
}

*[color="4"] {
  color:#656565;
}
*[color="5"] {
  color:#c9462c;
}
*[color="6"] {
  color:#1eb8d0;
}


*[bgcolor="4"] {
  background-color:#656565;
}
*[bgcolor="5"] {
  background-color:#c9462c;
}
*[bgcolor="6"] {
  background-color:#1eb8d0;
}
