@import url("https://fonts.googleapis.com/css?family=Courgette:100,200,300,400,500,600,700,800,900|Montserrat:100,200,300,400,500,600,700,800,900|Roboto+Slab:100,200,300,400,500,600,700,800,900");

*[letterspacing="0"] {
  letter-spacing: 0;
}
*[letterspacing="1"] {
  letter-spacing: 0.1vw;
}
*[letterspacing="2"] {
  letter-spacing: 0.2vw;
}
*[letterspacing="3"] {
  letter-spacing: 0.3vw;
}
*[letterspacing="4"] {
  letter-spacing: 0.4vw;
}
*[letterspacing="5"] {
  letter-spacing: 0.5vw;
}
*[letterspacing="6"] {
  letter-spacing: 0.6vw;
}
*[letterspacing="7"] {
  letter-spacing: 0.7vw;
}
*[letterspacing="8"] {
  letter-spacing: 0.8vw;
}
*[letterspacing="9"] {
  letter-spacing: 0.9vw;
}
*[letterspacing="10"] {
  letter-spacing: 1vw;
}


*[padding="0"] {
  padding:0;
}
*[padding="1"] {
  padding:0.2vw;
}
*[padding="2"] {
  padding:0.4vw;
}
*[padding="3"] {
  padding:0.6vw;
}
*[padding="4"] {
  padding:0.8vw;
}
*[padding="5"] {
  padding:1vw;
}
*[padding="6"] {
  padding:1.2vw;
}
*[padding="7"] {
  padding:1.4vw;
}
*[padding="8"] {
  padding:1.6vw;
}
*[padding="9"] {
  padding:1.8vw;
}
*[padding="10"] {
  padding:2vw;
}
*[padding="11"] {
  padding:2.2vw;
}
*[padding="12"] {
  padding:2.4vw;
}
*[padding="13"] {
  padding:2.6vw;
}
*[padding="14"] {
  padding:2.8vw;
}
*[padding="15"] {
  padding:3vw;
}
*[padding="16"] {
  padding:3.2vw;
}
*[padding="17"] {
  padding:3.4vw;
}
*[padding="18"] {
  padding:3.6vw;
}
*[padding="19"] {
  padding:3.8vw;
}
*[padding="20"] {
  padding:4vw;
}

*[paddingleft="0"] {
  padding-left:0;
}
*[paddingleft="1"] {
  padding-left:0.2vw;
}
*[paddingleft="2"] {
  padding-left:0.4vw;
}
*[paddingleft="3"] {
  padding-left:0.6vw;
}
*[paddingleft="4"] {
  padding-left:0.8vw;
}
*[paddingleft="5"] {
  padding-left:1vw;
}
*[paddingleft="6"] {
  padding-left:1.2vw;
}
*[paddingleft="7"] {
  padding-left:1.4vw;
}
*[paddingleft="8"] {
  padding-left:1.6vw;
}
*[paddingleft="9"] {
  padding-left:1.8vw;
}
*[paddingleft="10"] {
  padding-left:2vw;
}
*[paddingleft="11"] {
  padding-left:2.2vw;
}
*[paddingleft="12"] {
  padding-left:2.4vw;
}
*[paddingleft="13"] {
  padding-left:2.6vw;
}
*[paddingleft="14"] {
  padding-left:2.8vw;
}
*[paddingleft="15"] {
  padding-left:3vw;
}
*[paddingleft="16"] {
  padding-left:3.2vw;
}
*[paddingleft="17"] {
  padding-left:3.4vw;
}
*[paddingleft="18"] {
  padding-left:3.6vw;
}
*[paddingleft="19"] {
  padding-left:3.8vw;
}
*[paddingleft="20"] {
  padding-left:4vw;
}


*[paddingright="0"] {
  padding-right:0;
}
*[paddingright="1"] {
  padding-right:0.2vw;
}
*[paddingright="2"] {
  padding-right:0.4vw;
}
*[paddingright="3"] {
  padding-right:0.6vw;
}
*[paddingright="4"] {
  padding-right:0.8vw;
}
*[paddingright="5"] {
  padding-right:1vw;
}
*[paddingright="6"] {
  padding-right:1.2vw;
}
*[paddingright="7"] {
  padding-right:1.4vw;
}
*[paddingright="8"] {
  padding-right:1.6vw;
}
*[paddingright="9"] {
  padding-right:1.8vw;
}
*[paddingright="10"] {
  padding-right:2vw;
}
*[paddingright="11"] {
  padding-right:2.2vw;
}
*[paddingright="12"] {
  padding-right:2.4vw;
}
*[paddingright="13"] {
  padding-right:2.6vw;
}
*[paddingright="14"] {
  padding-right:2.8vw;
}
*[paddingright="15"] {
  padding-right:3vw;
}
*[paddingright="16"] {
  padding-right:3.2vw;
}
*[paddingright="17"] {
  padding-right:3.4vw;
}
*[paddingright="18"] {
  padding-right:3.6vw;
}
*[paddingright="19"] {
  padding-right:3.8vw;
}
*[paddingright="20"] {
  padding-right:4vw;
}


*[paddingtop="0"] {
  padding-top:0;
}
*[paddingtop="1"] {
  padding-top:0.2vw;
}
*[paddingtop="2"] {
  padding-top:0.4vw;
}
*[paddingtop="3"] {
  padding-top:0.6vw;
}
*[paddingtop="4"] {
  padding-top:0.8vw;
}
*[paddingtop="5"] {
  padding-top:1vw;
}
*[paddingtop="6"] {
  padding-top:1.2vw;
}
*[paddingtop="7"] {
  padding-top:1.4vw;
}
*[paddingtop="8"] {
  padding-top:1.6vw;
}
*[paddingtop="9"] {
  padding-top:1.8vw;
}
*[paddingtop="10"] {
  padding-top:2vw;
}
*[paddingtop="11"] {
  padding-top:2.2vw;
}
*[paddingtop="12"] {
  padding-top:2.4vw;
}
*[paddingtop="13"] {
  padding-top:2.6vw;
}
*[paddingtop="14"] {
  padding-top:2.8vw;
}
*[paddingtop="15"] {
  padding-top:3vw;
}
*[paddingtop="16"] {
  padding-top:3.2vw;
}
*[paddingtop="17"] {
  padding-top:3.4vw;
}
*[paddingtop="18"] {
  padding-top:3.6vw;
}
*[paddingtop="19"] {
  padding-top:3.8vw;
}
*[paddingtop="20"] {
  padding-top:4vw;
}


*[paddingbottom="0"] {
  padding-bottom:0;
}
*[paddingbottom="1"] {
  padding-bottom:0.2vw;
}
*[paddingbottom="2"] {
  padding-bottom:0.4vw;
}
*[paddingbottom="3"] {
  padding-bottom:0.6vw;
}
*[paddingbottom="4"] {
  padding-bottom:0.8vw;
}
*[paddingbottom="5"] {
  padding-bottom:1vw;
}
*[paddingbottom="6"] {
  padding-bottom:1.2vw;
}
*[paddingbottom="7"] {
  padding-bottom:1.4vw;
}
*[paddingbottom="8"] {
  padding-bottom:1.6vw;
}
*[paddingbottom="9"] {
  padding-bottom:1.8vw;
}
*[paddingbottom="10"] {
  padding-bottom:2vw;
}
*[paddingbottom="11"] {
  padding-bottom:2.2vw;
}
*[paddingbottom="12"] {
  padding-bottom:2.4vw;
}
*[paddingbottom="13"] {
  padding-bottom:2.6vw;
}
*[paddingbottom="14"] {
  padding-bottom:2.8vw;
}
*[paddingbottom="15"] {
  padding-bottom:3vw;
}
*[paddingbottom="16"] {
  padding-bottom:3.2vw;
}
*[paddingbottom="17"] {
  padding-bottom:3.4vw;
}
*[paddingbottom="18"] {
  padding-bottom:3.6vw;
}
*[paddingbottom="19"] {
  padding-bottom:3.8vw;
}
*[paddingbottom="20"] {
  padding-bottom:4vw;
}





*[texttransform="none"] {
   text-transform: none;
}
*[texttransform="uppercase"] {
   text-transform: uppercase;
}
*[textdecoration="none"] {
  text-decoration: none;
}
*[textdecoration="underline"] {
  text-decoration: underline;
}
*[textdecoration="linethrough"] {
  text-decoration: line-through;
}
*[fontstyle="normal"] {
  font-style: normal;
}
*[fontstyle="italic"] {
  font-style: italic;
}

*[lineheight="0"] {
  line-height: 0;
}
*[lineheight="1"] {
  line-height: 0.2;
}
*[lineheight="2"] {
  line-height: 0.4;
}
*[lineheight="3"] {
  line-height: 0.6;
}
*[lineheight="4"] {
  line-height: 0.8;
}
*[lineheight="5"] {
  line-height: 1;
}
*[lineheight="6"] {
  line-height: 1.2;
}
*[lineheight="7"] {
  line-height: 1.4;
}
*[lineheight="8"] {
  line-height: 1.6;
}
*[lineheight="9"] {
  line-height: 1.8;
}
*[lineheight="10"] {
  line-height: 2;
}
*[lineheight="11"] {
  line-height: 2.2;
}
*[lineheight="12"] {
  line-height: 2.4;
}
*[lineheight="13"] {
  line-height: 2.6;
}
*[lineheight="14"] {
  line-height: 2.8;
}
*[lineheight="15"] {
  line-height: 3;
}
*[fontsize="1"] {
  font-size: 1vw;
  height:1vw;
}
*[fontsize="2"] {
  font-size: 1.2vw;
  height:1.2vw;
}
*[fontsize="3"] {
  font-size: 1.4vw;
  height:1.4vw;
}
*[fontsize="4"] {
  font-size: 1.6vw;
  height:1.6vw;
}
*[fontsize="5"] {
  font-size: 1.8vw;
  height:1.8vw;
}
*[fontsize="6"] {
  font-size: 2vw;
  height:2vw;
}
*[fontsize="7"] {
  font-size: 2.25vw;
  height:2.25vw;
}
*[fontsize="8"] {
  font-size: 2.5vw;
  height:2.5vw;
}
*[fontsize="9"] {
  font-size: 2.75vw;
  height:2.75vw;
}
*[fontsize="10"] {
  font-size: 3vw;
  height:3vw;
}
*[fontsize="11"] {
  font-size: 3.5vw;
  height:3.5vw;
}
*[fontsize="12"] {
  font-size: 4vw;
  height:4vw;
}
*[fontsize="13"] {
  font-size: 4.5vw;
  height:4.5vw;
}
*[fontsize="14"] {
  font-size: 5vw;
  height:5vw;
}
*[fontsize="15"] {
  font-size: 5.5vw;
  height:5.5vw;
}
*[fontsize="16"] {
  font-size: 6vw;
  height:6vw;
}
*[fontsize="17"] {
  font-size: 6.5vw;
  height:6.5vw;
}
*[fontsize="18"] {
  font-size: 7vw;
  height:7vw;
}
*[fontsize="19"] {
  font-size: 7.5vw;
  height:7.5vw;
}
*[fontsize="20"] {
  font-size: 8vw;
  height:8vw;
}
*[fontsize="21"] {
  font-size: 9vw;
  height:9vw;
}
*[fontsize="22"] {
  font-size: 10vw;
  height:10vw;
}
*[fontsize="23"] {
  font-size: 12vw;
  height:12vw;
}
*[fontsize="24"] {
  font-size: 14vw;
  height:14vw;
}
*[fontsize="25"] {
  font-size: 18vw;
  height:18vw;
}
*[fontsize="26"] {
  font-size: 23vw;
  height:23vw;
}
*[fontsize="27"] {
  font-size: 29vw;
  height:29vw;
}
*[fontsize="28"] {
  font-size: 36vw;
  height:36vw;
}
*[fontsize="29"] {
  font-size: 45vw;
  height:45vw;
}
*[fontsize="30"] {
  font-size: 55vw;
  height:55vw;
}

# Exposants
*[fontsize="1"][expind="exposant"] {
  vertical-align: top;
  font-size: 0.6vw;
  height:0.6vw;
}
*[fontsize="2"][expind="exposant"] {
  vertical-align: top;
  font-size: 0.72vw;
  height:0.72vw;
}
*[fontsize="3"][expind="exposant"] {
  vertical-align: top;
  font-size: 0.84vw;
  height:0.84vw;
}
*[fontsize="4"][expind="exposant"] {
  vertical-align: top;
  font-size: 0.96vw;
  height:0.96vw;
}
*[fontsize="5"][expind="exposant"] {
  vertical-align: top;
  font-size: 1.08vw;
  height:1.08vw;
}
*[fontsize="6"][expind="exposant"] {
  vertical-align: top;
  font-size: 1.2vw;
  height:1.2vw;
}
*[fontsize="7"][expind="exposant"] {
  vertical-align: top;
  font-size: 1.35vw;
  height:1.35vw;
}
*[fontsize="8"][expind="exposant"] {
  vertical-align: top;
  font-size: 1.5vw;
  height:1.5vw;
}
*[fontsize="9"][expind="exposant"] {
  vertical-align: top;
  font-size: 1.65vw;
  height:1.65vw;
}
*[fontsize="10"][expind="exposant"] {
  vertical-align: top;
  font-size: 1.8vw;
  height:1.8vw;
}
*[fontsize="11"][expind="exposant"] {
  vertical-align: top;
  font-size: 2.1vw;
  height:2.1vw;
}
*[fontsize="12"][expind="exposant"] {
  vertical-align: top;
  font-size: 2.4vw;
  height:2.4vw;
}
*[fontsize="13"][expind="exposant"] {
  vertical-align: top;
  font-size: 2.7vw;
  height:2.7vw;
}
*[fontsize="14"][expind="exposant"] {
  vertical-align: top;
  font-size: 3vw;
  height:3vw;
}
*[fontsize="15"][expind="exposant"] {
  vertical-align: top;
  font-size: 3.3vw;
  height:3.3vw;
}
*[fontsize="16"][expind="exposant"] {
  vertical-align: top;
  font-size: 3.6vw;
  height:3.6vw;
}
*[fontsize="17"][expind="exposant"] {
  vertical-align: top;
  font-size: 3.9vw;
  height:3.9vw;
}
*[fontsize="18"][expind="exposant"] {
  vertical-align: top;
  font-size: 4.2vw;
  height:4.2vw;
}
*[fontsize="19"][expind="exposant"] {
  vertical-align: top;
  font-size: 4.5vw;
  height:4.5vw;
}
*[fontsize="20"][expind="exposant"] {
  vertical-align: top;
  font-size: 4.8vw;
  height:4.8vw;
}
*[fontsize="21"][expind="exposant"] {
  vertical-align: top;
  font-size: 5.4vw;
  height:5.4vw;
}
*[fontsize="22"][expind="exposant"] {
  vertical-align: top;
  font-size: 6vw;
  height:6vw;
}
*[fontsize="23"][expind="exposant"] {
  vertical-align: top;
  font-size: 7.2vw;
  height:7.2vw;
}
*[fontsize="24"][expind="exposant"] {
  vertical-align: top;
  font-size: 8.4vw;
  height:8.4vw;
}
*[fontsize="25"][expind="exposant"] {
  vertical-align: top;
  font-size: 10.8vw;
  height:10.8vw;
}
*[fontsize="26"][expind="exposant"] {
  vertical-align: top;
  font-size: 13.8vw;
  height:13.8vw;
}
*[fontsize="27"][expind="exposant"] {
  vertical-align: top;
  font-size: 17.4vw;
  height:17.4vw;
}
*[fontsize="28"][expind="exposant"] {
  vertical-align: top;
  font-size: 21.6vw;
  height:21.6vw;
}
*[fontsize="29"][expind="exposant"] {
  vertical-align: top;
  font-size: 27vw;
  height:27vw;
}
*[fontsize="30"][expind="exposant"] {
  vertical-align: top;
  font-size: 33vw;
  height:33vw;
}

# Indices
*[fontsize="1"][expind="indice"] {
  vertical-align: bottom;
  font-size: 0.6vw;
  height:0.6vw;
}
*[fontsize="2"][expind="indice"] {
  vertical-align: bottom;
  font-size: 0.72vw;
  height:0.72vw;
}
*[fontsize="3"][expind="indice"] {
  vertical-align: bottom;
  font-size: 0.84vw;
  height:0.84vw;
}
*[fontsize="4"][expind="indice"] {
  vertical-align: bottom;
  font-size: 0.96vw;
  height:0.96vw;
}
*[fontsize="5"][expind="indice"] {
  vertical-align: bottom;
  font-size: 1.08vw;
  height:1.08vw;
}
*[fontsize="6"][expind="indice"] {
  vertical-align: bottom;
  font-size: 1.2vw;
  height:1.2vw;
}
*[fontsize="7"][expind="indice"] {
  vertical-align: bottom;
  font-size: 1.35vw;
  height:1.35vw;
}
*[fontsize="8"][expind="indice"] {
  vertical-align: bottom;
  font-size: 1.5vw;
  height:1.5vw;
}
*[fontsize="9"][expind="indice"] {
  vertical-align: bottom;
  font-size: 1.65vw;
  height:1.65vw;
}
*[fontsize="10"][expind="indice"] {
  vertical-align: bottom;
  font-size: 1.8vw;
  height:1.8vw;
}
*[fontsize="11"][expind="indice"] {
  vertical-align: bottom;
  font-size: 2.1vw;
  height:2.1vw;
}
*[fontsize="12"][expind="indice"] {
  vertical-align: bottom;
  font-size: 2.4vw;
  height:2.4vw;
}
*[fontsize="13"][expind="indice"] {
  vertical-align: bottom;
  font-size: 2.7vw;
  height:2.7vw;
}
*[fontsize="14"][expind="indice"] {
  vertical-align: bottom;
  font-size: 3vw;
  height:3vw;
}
*[fontsize="15"][expind="indice"] {
  vertical-align: bottom;
  font-size: 3.3vw;
  height:3.3vw;
}
*[fontsize="16"][expind="indice"] {
  vertical-align: bottom;
  font-size: 3.6vw;
  height:3.6vw;
}
*[fontsize="17"][expind="indice"] {
  vertical-align: bottom;
  font-size: 3.9vw;
  height:3.9vw;
}
*[fontsize="18"][expind="indice"] {
  vertical-align: bottom;
  font-size: 4.2vw;
  height:4.2vw;
}
*[fontsize="19"][expind="indice"] {
  vertical-align: bottom;
  font-size: 4.5vw;
  height:4.5vw;
}
*[fontsize="20"][expind="indice"] {
  vertical-align: bottom;
  font-size: 4.8vw;
  height:4.8vw;
}
*[fontsize="21"][expind="indice"] {
  vertical-align: bottom;
  font-size: 5.4vw;
  height:5.4vw;
}
*[fontsize="22"][expind="indice"] {
  vertical-align: bottom;
  font-size: 6vw;
  height:6vw;
}
*[fontsize="23"][expind="indice"] {
  vertical-align: bottom;
  font-size: 7.2vw;
  height:7.2vw;
}
*[fontsize="24"][expind="indice"] {
  vertical-align: bottom;
  font-size: 8.4vw;
  height:8.4vw;
}
*[fontsize="25"][expind="indice"] {
  vertical-align: bottom;
  font-size: 10.8vw;
  height:10.8vw;
}
*[fontsize="26"][expind="indice"] {
  vertical-align: bottom;
  font-size: 13.8vw;
  height:13.8vw;
}
*[fontsize="27"][expind="indice"] {
  vertical-align: bottom;
  font-size: 17.4vw;
  height:17.4vw;
}
*[fontsize="28"][expind="indice"] {
  vertical-align: bottom;
  font-size: 21.6vw;
  height:21.6vw;
}
*[fontsize="29"][expind="indice"] {
  vertical-align: bottom;
  font-size: 27vw;
  height:27vw;
}
*[fontsize="30"][expind="indice"] {
  vertical-align: bottom;
  font-size: 33vw;
  height:33vw;
}



*[fontweight="1"] {
  font-weight:100;
}
*[fontweight="2"] {
  font-weight:200;
}
*[fontweight="3"] {
  font-weight:300;
}
*[fontweight="4"] {
  font-weight:400;
}
*[fontweight="5"] {
  font-weight:500;
}
*[fontweight="6"] {
  font-weight:600;
}
*[fontweight="7"] {
  font-weight:700;
}
*[fontweight="8"] {
  font-weight:800;
}
*[fontweight="9"] {
  font-weight:900;
}

*[color="1"] {
  color:#000;
}
*[color="2"] {
  color:#fff;
}
*[color="3"] {
  color:#777;
}
*[bgcolor="0"] {
  background-color: unset;
}
*[bgcolor="1"] {
  background-color:#000;
}
*[bgcolor="2"] {
  background-color:#fff;
}
*[bgcolor="3"] {
  background-color:#777;
}


*[marginleft="0"] {
  margin-left: 0vw;
}
*[marginleft="1"] {
  margin-left: 1vw;
}
*[marginleft="2"] {
  margin-left: 2vw;
}
*[marginleft="3"] {
  margin-left: 3vw;
}
*[marginleft="4"] {
  margin-left: 4vw;
}
*[marginleft="5"] {
  margin-left: 5vw;
}
*[marginleft="6"] {
  margin-left: 6vw;
}
*[marginleft="7"] {
  margin-left: 7vw;
}
*[marginleft="8"] {
  margin-left: 8vw;
}
*[marginleft="9"] {
  margin-left: 9vw;
}
*[marginleft="10"] {
  margin-left: 10vw;
}
*[marginleft="11"] {
  margin-left: 11vw;
}
*[marginleft="12"] {
  margin-left: 12vw;
}
*[marginleft="13"] {
  margin-left: 13vw;
}
*[marginleft="14"] {
  margin-left: 14vw;
}
*[marginleft="15"] {
  margin-left: 15vw;
}
*[marginleft="16"] {
  margin-left: 16vw;
}
*[marginleft="17"] {
  margin-left: 17vw;
}
*[marginleft="18"] {
  margin-left: 18vw;
}
*[marginleft="19"] {
  margin-left: 19vw;
}
*[marginleft="20"] {
  margin-left: 20vw;
}

*[marginleft="-1"] {
  margin-left: -1vw;
}
*[marginleft="-2"] {
  margin-left: -2vw;
}
*[marginleft="-3"] {
  margin-left: -3vw;
}
*[marginleft="-4"] {
  margin-left: -4vw;
}
*[marginleft="-5"] {
  margin-left: -5vw;
}
*[marginleft="-6"] {
  margin-left: -6vw;
}
*[marginleft="-7"] {
  margin-left: -7vw;
}
*[marginleft="-8"] {
  margin-left: -8vw;
}
*[marginleft="-9"] {
  margin-left: -9vw;
}
*[marginleft="-10"] {
  margin-left: -10vw;
}
*[marginleft="-11"] {
  margin-left: -11vw;
}
*[marginleft="-12"] {
  margin-left: -12vw;
}
*[marginleft="-13"] {
  margin-left: -13vw;
}
*[marginleft="-14"] {
  margin-left: -14vw;
}
*[marginleft="-15"] {
  margin-left: -15vw;
}
*[marginleft="-16"] {
  margin-left: -16vw;
}
*[marginleft="-17"] {
  margin-left: -17vw;
}
*[marginleft="-18"] {
  margin-left: -18vw;
}
*[marginleft="-19"] {
  margin-left: -19vw;
}
*[marginleft="-20"] {
  margin-left: -20vw;
}


*[marginright="0"] {
  margin-right: 0vw;
}
*[marginright="1"] {
  margin-right: 1vw;
}
*[marginright="2"] {
  margin-right: 2vw;
}
*[marginright="3"] {
  margin-right: 3vw;
}
*[marginright="4"] {
  margin-right: 4vw;
}
*[marginright="5"] {
  margin-right: 5vw;
}
*[marginright="6"] {
  margin-right: 6vw;
}
*[marginright="7"] {
  margin-right: 7vw;
}
*[marginright="8"] {
  margin-right: 8vw;
}
*[marginright="9"] {
  margin-right: 9vw;
}
*[marginright="10"] {
  margin-right: 10vw;
}
*[marginright="11"] {
  margin-right: 11vw;
}
*[marginright="12"] {
  margin-right: 12vw;
}
*[marginright="13"] {
  margin-right: 13vw;
}
*[marginright="14"] {
  margin-right: 14vw;
}
*[marginright="15"] {
  margin-right: 15vw;
}
*[marginright="16"] {
  margin-right: 16vw;
}
*[marginright="17"] {
  margin-right: 17vw;
}
*[marginright="18"] {
  margin-right: 18vw;
}
*[marginright="19"] {
  margin-right: 19vw;
}
*[marginright="20"] {
  margin-right: 20vw;
}

*[marginright="-1"] {
  margin-right: -1vw;
}
*[marginright="-2"] {
  margin-right: -2vw;
}
*[marginright="-3"] {
  margin-right: -3vw;
}
*[marginright="-4"] {
  margin-right: -4vw;
}
*[marginright="-5"] {
  margin-right: -5vw;
}
*[marginright="-6"] {
  margin-right: -6vw;
}
*[marginright="-7"] {
  margin-right: -7vw;
}
*[marginright="-8"] {
  margin-right: -8vw;
}
*[marginright="-9"] {
  margin-right: -9vw;
}
*[marginright="-10"] {
  margin-right: -10vw;
}
*[marginright="-11"] {
  margin-right: -11vw;
}
*[marginright="-12"] {
  margin-right: -12vw;
}
*[marginright="-13"] {
  margin-right: -13vw;
}
*[marginright="-14"] {
  margin-right: -14vw;
}
*[marginright="-15"] {
  margin-right: -15vw;
}
*[marginright="-16"] {
  margin-right: -16vw;
}
*[marginright="-17"] {
  margin-right: -17vw;
}
*[marginright="-18"] {
  margin-right: -18vw;
}
*[marginright="-19"] {
  margin-right: -19vw;
}
*[marginright="-20"] {
  margin-right: -20vw;
}




*[margintop="0"] {
  margin-top: 0vw;
}
*[margintop="1"] {
  margin-top: 1vw;
}
*[margintop="2"] {
  margin-top: 2vw;
}
*[margintop="3"] {
  margin-top: 3vw;
}
*[margintop="4"] {
  margin-top: 4vw;
}
*[margintop="5"] {
  margin-top: 5vw;
}
*[margintop="6"] {
  margin-top: 6vw;
}
*[margintop="7"] {
  margin-top: 7vw;
}
*[margintop="8"] {
  margin-top: 8vw;
}
*[margintop="9"] {
  margin-top: 9vw;
}
*[margintop="10"] {
  margin-top: 10vw;
}
*[margintop="11"] {
  margin-top: 11vw;
}
*[margintop="12"] {
  margin-top: 12vw;
}
*[margintop="13"] {
  margin-top: 13vw;
}
*[margintop="14"] {
  margin-top: 14vw;
}
*[margintop="15"] {
  margin-top: 15vw;
}
*[margintop="16"] {
  margin-top: 16vw;
}
*[margintop="17"] {
  margin-top: 17vw;
}
*[margintop="18"] {
  margin-top: 18vw;
}
*[margintop="19"] {
  margin-top: 19vw;
}
*[margintop="20"] {
  margin-top: 20vw;
}

*[margintop="-1"] {
  margin-top: -1vw;
}
*[margintop="-2"] {
  margin-top: -2vw;
}
*[margintop="-3"] {
  margin-top: -3vw;
}
*[margintop="-4"] {
  margin-top: -4vw;
}
*[margintop="-5"] {
  margin-top: -5vw;
}


*[marginbottom="0"] {
  margin-bottom: 0vw;
}
*[marginbottom="1"] {
  margin-bottom: 1vw;
}
*[marginbottom="2"] {
  margin-bottom: 2vw;
}
*[marginbottom="3"] {
  margin-bottom: 3vw;
}
*[marginbottom="4"] {
  margin-bottom: 4vw;
}
*[marginbottom="5"] {
  margin-bottom: 5vw;
}
*[marginbottom="6"] {
  margin-bottom: 6vw;
}
*[marginbottom="7"] {
  margin-bottom: 7vw;
}
*[marginbottom="8"] {
  margin-bottom: 8vw;
}
*[marginbottom="9"] {
  margin-bottom: 9vw;
}
*[marginbottom="10"] {
  margin-bottom: 10vw;
}
*[marginbottom="11"] {
  margin-bottom: 11vw;
}
*[marginbottom="12"] {
  margin-bottom: 12vw;
}
*[marginbottom="13"] {
  margin-bottom: 13vw;
}
*[marginbottom="14"] {
  margin-bottom: 14vw;
}
*[marginbottom="15"] {
  margin-bottom: 15vw;
}
*[marginbottom="16"] {
  margin-bottom: 16vw;
}
*[marginbottom="17"] {
  margin-bottom: 17vw;
}
*[marginbottom="18"] {
  margin-bottom: 18vw;
}
*[marginbottom="19"] {
  margin-bottom: 19vw;
}
*[marginbottom="20"] {
  margin-bottom: 20vw;
}

*[marginbottom="-1"] {
  margin-bottom: -1vw;
}
*[marginbottom="-2"] {
  margin-bottom: -2vw;
}
*[marginbottom="-3"] {
  margin-bottom: -3vw;
}
*[marginbottom="-4"] {
  margin-bottom: -4vw;
}
*[marginbottom="-5"] {
  margin-top: -5vw;
}

*[align="center"] {
  text-align: center;
}
*[align="left"] {
  text-align: left;
}
*[align="right"] {
  text-align: right;
}
*[align="justify"] {
  text-align: justify;
}

div[backgroundpositionx="0"] {
  background-position-x: 0vw;
}
div[backgroundpositionx="1"] {
  background-position-x: 1vw;
}
div[backgroundpositionx="2"] {
  background-position-x: 2vw;
}
div[backgroundpositionx="3"] {
  background-position-x: 3vw;
}
div[backgroundpositionx="4"] {
  background-position-x: 4vw;
}
div[backgroundpositionx="5"] {
  background-position-x: 5vw;
}
div[backgroundpositionx="6"] {
  background-position-x: 6vw;
}
div[backgroundpositionx="7"] {
  background-position-x: 7vw;
}
div[backgroundpositionx="8"] {
  background-position-x: 8vw;
}
div[backgroundpositionx="9"] {
  background-position-x: 9vw;
}
div[backgroundpositionx="10"] {
  background-position-x: 10vw;
}
div[backgroundpositionx="12"] {
  background-position-x: 12vw;
}
div[backgroundpositionx="13"] {
  background-position-x: 13vw;
}
div[backgroundpositionx="14"] {
  background-position-x: 14vw;
}
div[backgroundpositionx="15"] {
  background-position-x: 15vw;
}
div[backgroundpositionx="16"] {
  background-position-x: 16vw;
}
div[backgroundpositionx="17"] {
  background-position-x: 17vw;
}
div[backgroundpositionx="18"] {
  background-position-x: 18vw;
}
div[backgroundpositionx="19"] {
  background-position-x: 19vw;
}
div[backgroundpositionx="20"] {
  background-position-x: 20vw;
}

div.zone:hover, div.zone:focus, div.zone.selected {
  outline: 1px dashed blue;
  outline-offset: -1px;
}

div.zone:hover span, div.zone:focus span, div.zone.selected span {
  outline: 1px dashed red;
  outline-offset: -1px;
}
div.zone:hover div, div.zone:focus div, div.zone.selected div {
  outline: 1px dashed orange;
  outline-offset: -1px;
}



/* Spécifique */
