@import url("https://fonts.googleapis.com/css?family=Courgette:100,200,300,400,500,600,700,800,900|Montserrat:100,200,300,400,500,600,700,800,900|Roboto+Slab:100,200,300,400,500,600,700,800,900");
body {
  margin:0;
  padding:0;
}





.app {
  position: relative;
  width: 100%;
  height: 94vh;
  display: flex;
  flex-flow: row wrap;
}
.menushadow {
  position:absolute;
  top:0;
  height:1vh;
  max-height:4px;
  width:100%;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0));
  z-index:9;
}

/* ------ Workarea ------ */

.workarea {
  position:relative;

  flex-grow: 1;
  height:100%;

  background-color: #3f3f3f;
  overflow:scroll;

}
.workarea::-webkit-scrollbar
{
	width: 10px;
	background-color: #9c9c9C;
}
.workarea::-webkit-scrollbar-corner {
 background-color: #9c9c9c;
}
.workarea::-webkit-scrollbar-thumb {
	background-color: #ececec;
}
/* ------- Toolbox ------ */
.toolbox {
  font-family: "Montserrat", serif;
  /*position: fixed;*/
  /*padding:0px 10px 10px 10px;*/
  padding-left:10px;
  padding-right:10px;
  width:300px;
  height:100%;
  color: #3c3c3c;
  background-color: #c5c5c5;
}
.toolbox select {
  font-family: "Roboto Slab", serif;
  width: 100%;
  background-color: white;
  font-size: 15;
  border-radius: 3px;
  margin-bottom:5px;
  padding:2px;
  /*-webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;*/
}
.toolbox div.colorbox {
  display: inline-block;
  width:20px;
  height:20px;
  margin-right:3px;
}
div.toolbox-line {
  margin-left:-10px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-top: 2px solid #7e7e7e;
  width:320px;
}
div.toolbox-spacer {
  display:block;
  width:100%;
  height:10px;
}
.toolbox label {
  display: block;
  font-weight: 800;
  margin-bottom: 10px;
}
.toolbox span {
  padding: 0px 2px 0px 0px;
}

div.toolbox-history {
  padding-top:20px;

}
.toolbox-taille {
  display: inline-block;
}
.toolbox-position {
  display: inline-block;
  vertical-align: top;
}


.box {
  margin-top:2px;
  margin-bottom:4px;
  margin-right:20px;
}
.toolbox input[type="text"] {
    width:22px;
    vertical-align: middle;
    text-align:center;
    font-size:16px;
}
.toolbox input[type="radio"] {
  width:30px;
}
.toolbox .rangeselector span {
  vertical-align: middle;
  margin-left: 4px;
}
.toolbox input {
  vertical-align: text-top;
  border:0;
  padding: 2px 2px 0px 0px;
  background-color: #dfdfdf;
  border-radius: 2px;
  /*color: white;*/
}
.toolbox button {
  padding: 4px 4px 4px 4px;
  background-color: transparent;
  color: #3c3c3c;
  border:0;
}
.toolbox button:focus {
  outline:0;
}
.toolbox button:hover, .toolbox input:hover {
  background-color: #acacac;
}
.toolbox .align {
  margin-top:8px;
  display: block;
}
.toolbox .fontstyle {
  margin-top:8px;
  display:inline-block;
}
.toolbox .rangeselector {
  font-weight:600;
  font-size:16px;
  margin-top:4px;
  /*width:70px;*/
  background-color: white;
  padding: 2px;
  border-radius: 3px;
}
.toolbox label {
  display:inline-block;
  font-size:15px;
}
.toolbox label input {
  display:none;
}
.toolbox label input[type=radio]:checked + span {
  background-color: #acacac;
}
.toolbox label input[type=checkbox]:checked + span {
  background-color: #acacac;
}
.toolbox label input[type=checkbox] + span {
  padding:6px 6px 6px 6px;
  background-color:white;
  border-radius: 3px;
  margin-right:2px;
}

.toolbox .radiogroup span {
  padding:6px 6px 6px 6px;
  margin-right:2px;
  background-color:white;
}
.toolbox .radiogroup label, .toolbox .checkboxes label {
  font-size: 14px;
}
.toolbox .radiogroup span svg, .toolbox .checkboxes span svg {
  width:16px;
}
.toolbox .radiogroup label:first-child input[type=radio] + span {
  border-radius: 4px 0px 0px 4px;
}
.toolbox .radiogroup label:last-child input[type=radio] + span {
  border-radius: 0px 4px 4px 0px;
}
.toolbox .colorgroup label {
  margin-bottom:0px;
}
.toolbox-colors label.small, .toolbox-bgcolors label.small, .box .small {
  font-size: 12px;
    margin-bottom: 4px;
    font-weight: 600;
}
.toolbox .colorgroup div {
  width:30px;
  height:30px;
  border-radius: 3px;
  border: 2px solid #c5c5c5;
}
.toolbox label input[type=radio]:checked + div {
  border: 2px solid #3c3c3c;
}
.toolbox div[bgcolor="0"] {
  border: 1px solid #a0a0a0;
}
.toolbox .toolbox-colors, .toolbox .toolbox-bgcolors, .toolbox-align, .toolbox-interligne {
  /*width: 120px;*/
  display: inline-block;
  vertical-align: top;
}

.toolbox .toolbox-bgcolors div[bgcolor="0"] {
  background-image:url(/static/img/croix.svg);
}
.toolbox .rangeselector button.mini {
  font-size: 10px;
  width:12px;
  display: block;
  padding: 0px;
  vertical-align: text-bottom;
}
.toolbox .rangeselector div {
  display:none;
  display:inline-block;
  vertical-align: middle;
  height: 20px;
}
.toolbox .rangeselector:hover  div {
  display:inline-block;
}


.toolbox-zoneitems, .toolbox-imageitems {
  display:none;
}
.toolbox-zoneitems.active, .toolbox-imageitems.active {
  display:block;
}
.toolbox .toolbox-image div.imagepreview{
  width:100%;
  height:100%;
  background-size:cover;

  /*background-repeat: no-repeat;*/
}
.toolbox .toolbox-image div.imagepreviewzone{
  width:100%;
  height:150px;
  border: 1px solid #7e7e7e;
  overflow: hidden;


  /*background-repeat: no-repeat;*/
}
.toolbox .toolbox-imageitems span {
  vertical-align:middle;
}
.toolbox .toolbox-imageitems.xy span {
  width: 20px;
}

.toolbox .toolbox-imageitems.xy input[type="range"] {
  width: 265px;
}

.toolbox .toolbox-imageitems input[type="range"] {
  width: 100%;
}

.view {
  position:absolute;
  top:0;
  left:0;
  /*clip: rect(0px,70vw,80vh,0px);*/
  /*height: 70vw;*/
  /*overflow:hidden;
  width:100%;
  height:100%;*/
   border:0;

}


.view {
  transform: scale(0.9);
  transform-origin: 0 0;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    cursor: pointer;
}

#overlay-content {
    position: absolute;
    font-family: Montserrat, serif;
    font-weight:600;
    text-align: center;
    top: 50%;
    left: 50%;
    width:600px;
    height:100px;
    padding:30px;
    background-color:#c5c5c5;
    border:1px solid #3c3c3c;


    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#overlay-content label {
    font-size:20px;
    color: #3c3c3c;
}
#overlay-content div.jaugebox {
  width:500px;
  height:30px;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  background-color:white;
}
#overlay-content div.jauge {
  position:absolute;
  background-color: #3c3C3c;
  left:0;
  top:0;
  height:30px;
  width:5%;
}

/*

.menubar {
  padding:0;
  margin:0;

  background-color: #9c9c9c;
  width:100%;
  height:6vh;
  display: flex;
  align-items: center;

}
.menuitem {
  font-family: Montserrat, serif;
  color:white;
  font-size:2vh;
  padding-left:10px;
  padding-right:10px;
  list-style: none;
  cursor: pointer;
}

.menuitem:hover {

}
*/

/* Menus */
.menuarrow {
  float: right;
  margin-right: -10px;
}
li{list-style: none;}
li a{text-decoration: none;}
.dropdown { z-index:10;}
.mainnav { height:48px;margin:0;padding:0; background-color: #9c9c9c; }
.dropdown{ position: absolute; width: 185px;top: 48px; opacity: 0;visibility: hidden; background-color:#c5c5c5;}
.mainnav li { padding-top:10px; padding-bottom:10px;}
.mainnav .dropdown li { font-size:16px;    padding: 3px 0px 3px 0px;}
.mainnav li{float: left;font-size:20px; }
.mainnav li:first-child{border: none;}
.mainnav li a{ display: block;padding: 2px 30px; color: #fff;font-family: "Montserrat", serif; font-weight:500; /*border-left: 1px dotted #fff;*/}
.mainnav li:hover{background: #c5c5c5;}
.mainnav li:hover a{color: #3c3c3c;}

.subs {left: -40px;position: relative;top: 0px;width: 225px;border-left: none !important; border-bottom: 1px dotted #fff !important;}
.mainnav .subs li a { padding: 2px 15px; font-size:12px; }
.subs:last-child{border: none !important;}
.hassubs:hover .dropdown,.hassubs .hassubs:hover .dropdown{display:block;opacity: 1;visibility: visible; }
.mainnav li:hover ul a,.mainnav li:hover ul li ul li a{color: #3c3c3c;}
.mainnav li ul li:hover,.mainnav li ul li ul li:hover{background: #e5e5e5;}
.mainnav li ul li:hover a,.mainnav li ul li ul li:hover a{color: #1c1c1c;}

.hassubs .hassubs .dropdown .subs{position: relative;width: 214px;top: 0px;     padding-top: 3px;
    padding-bottom: 3px;}
.hassubs .hassubs .dropdown{position: absolute;width: 175px;left: 225px;top: 0px;opacity: 0;display:none;}
